body {
    margin: 0 px;
    padding: 0 px;
    background-image:url("kgp.jpg") ;
    background-size: cover;
    
}
h1{
    color: white;
    background-color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 250 px 250 px 250 px 250 px;
    
    
    


}
h2{
    color: white;
}
li{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

}